@model LessonProject.Model.User
@{
                ViewBag.Title = "Register";
                Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
<fieldset>
    <div class="control-group">
        <label class="control-label" for="Email">
            Email
        </label>
        <div class="controls">
            @Html.ValidationMessage("Email")
            @Html.TextBox("Email", Model.Email)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="FirstName">
            Password
        </label>
        <div class="controls">
            @Html.ValidationMessage("Password")
            @Html.Password("Password", Model.Password)
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            Register
        </button>
        @Html.ActionLink("Cancel", "Index", null, null, new { @class = "btn" })
    </div>
    <div class="control-group">
        <label class="control-label" for="FirstName">
            Confirm Password
        </label>
        <div class="controls">
            @Html.ValidationMessage("ConfirmPassword")
            @Html.Password("ConfirmPassword", Model.ConfirmPassword)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="FirstName">
            Captcha
        </label>
    </div>
    <div class="control-group">
        <label class="control-label" for="FirstName">
            Тут картинка 1234
        </label>
        <div class="controls">
            @Html.ValidationMessage("Captcha")
            @Html.TextBox("Captcha", Model.Captcha)
        </div>
    </div>
</fieldset>
}